<!DOCTYPE html>
<html>
    <head>
    	<title>WTFlack</title>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <style type="text/css">
            #message-input{
                width: 100%;
            }
            #messages-view{
                overflow: auto;
            }
        </style>
    </head>
    <body>

        <script type="text/javascript">
            //initialize username and current channel as blank
            if (!localStorage.getItem('username')){
                localStorage.setItem('username', "");
            }
            if (!localStorage.getItem('current-channel')){
                localStorage.setItem('current-channel', "");
            }

            //set up local variable for determining if this is the browser's first time to the site
            if (!localStorage.getItem('first-entry')){
                localStorage.setItem('first-entry', 0);
            }
            
            //public and private channels converted to json
            window.channels = {{ channels|tojson }};
            window.privateChannels = {{ privatechannels|tojson }};

            //if for some reason the browser's current channel is not inside the server variables for public and private channels
            //reset local storage for current channel to blank string
            if(!(channels.hasOwnProperty(localStorage.getItem('current-channel'))) && !(privateChannelExists(localStorage.getItem('username'),localStorage.getItem('current-channel')))){
                localStorage.setItem('current-channel', "");
            }
        </script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        <div class="row">
    	<div class="col-2">
        <h1 id="username"></h1>
        <form id="logout"><input type="submit" value="Log Out"></form>
        <form id="new-name">
        	<input id="username-input" autocomplete="off" type="text" placeholder="Enter a display name.">
        </form>	
        <p>
            <div id="invalid-username" class="alert alert-danger" role="alert"></div>
        </p>
        <p><dt>Channels</dt>
            <dl id="channel-list">
            </dl>
        </p>
        <p>
            <form id="new-channel">
            	<input id="channel-input" autocomplete="off" type="text" placeholder="Create a new channel.">
            </form>	
        </p>
        <p>
            <div id="invalid-public-channel" class="alert alert-danger" role="alert"></div>
        </p>
        <p>
            <dt>Private Messages</dt>
            <dl id="private-channel-list">
            </dl>
        </p>
        <p>
            <form id="new-private-channel">
                <input id="private-channel-input" autocomplete="off" type="text" placeholder="Type in the username you want to message privately.">
            </form> 
        </p>
        <p>
            <div id="invalid-private-channel" class="alert alert-danger" role="alert"></div>
        </p>
        </div>
        <div id="messages-view" class="col">
            <dl id="messages-list">
            </dl>
            <form id="message">
                <input form="message" id="message-input" type="text" placeholder="Type a message" autocomplete="off">
            </form>
        </div>
        </div>
    </body>
</html>
