{% extends "orders/base.html" %}

{% block body %}
<div class="container col-10">
<form action="{% url 'orders:check_out' %}" method="post">
	{% csrf_token %}
	<table width="100%">
		<tbody>
			<tr>
				<td>Item</td>
				<td>Price</td>
			</tr>
				{% for item in shopping_cart_items %}
				<tr>
					<td name = "item">{{item.menu_item}}
					<ul>
					{% for add_on in item.get_add_ons_list %}
						<li>{{ add_on }}</li>
					{% endfor %}
					</ul>
					</td>
					<td>{{item.final_price}} <a class="remove">[-]</a></td>
				</tr>
				{% endfor %}
				<tr>
					<td>Total: {{shopping_cart.total_cost}}</td>
				</tr>
		</tbody>
	</table>


	<button class="btn btn-primary" type="submit" name="submit">Checkout</button>
</form>


</div>
{% endblock %}
