{% extends "orders/base.html" %}

{% block body %}
{% if messages %}
{% for message in messages %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
	<div class="alert alert-success" role="alert">
			{{ message }}
	</div>
	{% endif %}
{% endfor %}
{% endif %}
<script type="text/javascript">

</script>
<div class="container col-10">
<h2>Menu</h2>
<div class="modal" id="OrderItemModal">
	<div class="modal-content">
    <span class="close">&times;</span>
		<form id="item-order-form" action="{% url 'orders:add_item_to_cart' %}" method="post">
			{% csrf_token %}
			<h3 id="menu-item-title"></h3>

			<p id="item-size-section">Size: <span id="item-size-display"></span></p>

			<p id="topping-sel-section">Topping Choice: <span id="topping-sel-display"></span></p>

			<input id="menu-item-id" name="menu_item_id" value="0" hidden readonly>

			<div id="topping-dropdown-section">
				<p>Toppings: </p>
				<div id="topping-dropdowns">

				</div>
			</div>

			<div id="sub-add-ons-section">
				<p>Add ons</p>
				<div id="sub-add-ons">
					<p><input class="sub-extra" type="checkbox" name="extra_cheese" value="Extra Cheese"> Extra Cheese (+0.50)</p>
					<p class="steak-cheese-extra"><input class="sub-extra" type="checkbox" name="extra_mushrooms" value="Extra Mushrooms"> Mushrooms (+0.50)</p>
					<p class="steak-cheese-extra"><input class="sub-extra" type="checkbox" name="extra_green_peppers" value="Extra Green Peppers"> Green Peppers (+0.50)</p>
					<p class="steak-cheese-extra"><input class="sub-extra" type="checkbox" name="extra_onions" value="Extra Onions"> Onions (+0.50)</p>
				</div>

			</div>

			<p id="price-section">Price:  <input id="final-price" type="text" name="price" value="0.00" readonly style="border:none"></p>


			<button class="btn btn-primary" type="submit" name="submit" id="add-cart-button">Add to Cart</button>
		</form>
  </div>
</div>


<table class="foodmenu" width="100%">
	<tbody>
		{% if pizza_list %}
			<tr>
				<th colspan="3">Regular Pizza</th>
			</tr>
			<tr>
				<td></td>
				<td><i>Small</i></td>
				<td><i>Large</i></td>
			</tr>
			<!-- for each item in pizza_list -->
			{% for item in pizza_list %}
				{% if item.size == "S" %}
					<!-- if item size is small -->
					<tr>
					<td width="50%">{{item.get_topping_sel_display}}</td>
					<td class="price" width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
				{% endif %}
				{% if item.size == "L" %}
					<!-- if item size is large -->
					<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
					</tr>
				{% endif %}
				<!-- end if -->
			{% endfor %}

		{% else %}
		<tr>No Pizzas!</tr>
		{% endif %}
		</tbody>
	</table>
	<table class="foodmenu" width="100%">
		<tbody>
		{% if sicilian_pizza_list %}
			<br>
			<tr>
				<th colspan="3">Sicilian Pizza</th>
			</tr>
			<tr>
				<td></td>
				<td><i>Small</i></td>
				<td><i>Large</i></td>
			</tr>
			<!-- for each item in pizza_list -->
			{% for item in sicilian_pizza_list %}
				{% if item.size == "S" %}
					<!-- if item size is small -->
					<tr>
					<td width="50%">{{item.get_topping_sel_display}}</td>
					<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</td>
				{% endif %}
				{% if item.size == "L" %}
					<!-- if item size is large -->
					<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</td>
					</tr>
				{% endif %}
				<!-- end if -->
			{% endfor %}
		{% else %}
		<tr>No Pizzas!</tr>
		{% endif %}
	</tbody>
</table>
<br>
<table class="foodmenu" width="100%">
	<tbody>
		<tr>
			<th colspan="3">Subs</th>
		</tr>

		{% if subs_list %}
		<tr>
			<td></td>
			<td><i>Small</i></td>
			<td><i>Large</i></td>
		</tr>
		{% for item in subs_list %}
			{% if item.size == "S" %}
				<!-- if item size is small -->
				<tr>
				<td width="50%">{{item.item_name}}</td>
				<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
			{% endif %}
			{% if item.size == "L" %}
				{% if item.item_name == "Sausage, Peppers & Onions" %}
					<tr>
					<td width="50%">{{item.item_name}}</td>
					<td width="25%"> - </td>
				{% endif %}
				<!-- if item size is large -->
				<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
				</tr>
			{% endif %}
		{% endfor %}
		{% else %}
		<tr>No Subs!</tr>
		{% endif %}
	</tbody>
</table>
<br>
<table class="foodmenu" width="100%">
	<tbody>
	<tr>
		<th colspan="3">Pasta</th>
	</tr>
	{% if pasta_list %}
	{% for item in pasta_list %}
		<tr>
			<td style="text-align: left;" width="50%">{{item.item_name}}</td>
			<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
		</tr>
	{% endfor %}
	{% else %}
	<tr>No Pasta!</tr>
	{% endif %}
	</tbody>
</table>
<br>
<table class="foodmenu" width="100%">
	<tbody>
	<tr>
		<th colspan="3">Salads</th>
	</tr>
	{% if salad_list %}
	{% for item in salad_list %}
		<tr>
			<td style="text-align: left;" width="50%">{{item.item_name}}</td>
			<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
		</tr>
	{% endfor %}
	{% else %}
	<tr>No Salad!</tr>
	{% endif %}
	</tbody>
</table>
<br>
<table class="foodmenu" width="100%">
	<tbody>
		<tr>
			<th colspan="3">Dinner Platters</th>
		</tr>
		{% if platter_list %}
		<tr>
			<td></td>
			<td><i>Small</i></td>
			<td><i>Large</i></td>
		</tr>
		{% for item in platter_list %}
			{% if item.size == "S" %}
				<!-- if item size is small -->
				<tr>
				<td width="50%">{{item.item_name}}</td>
				<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
			{% endif %}
			{% if item.size == "L" %}
				<!-- if item size is large -->
				<td width="25%">{{item.price}} <a href="" class="addItem" id="{{item.get_item_type_display}}{{item.id}}">+</a></td>
				</tr>
			{% endif %}
		{% endfor %}
		{% else %}
		<tr>No Platters!</tr>
		{% endif %}
	</tbody>
</table>
</div>


<script type="text/javascript">


	// Get the modal
	var modal = document.getElementById('OrderItemModal');
	// Get the <span> element that closes the modal
	var spanX = document.getElementsByClassName("close")[0];

	function resetOrderForm(){
		//size on display again
		document.querySelector('#item-size-section').style.display = "block";
		document.querySelector('#item-size-display').innerHTML = "";

		document.querySelector('#topping-sel-section').style.display = "block";

		//reset topping dropdowns
		document.querySelector('#topping-dropdown-section').style.display = "block";
		document.querySelector('#topping-dropdowns').innerHTML = "";

		//reset sub addon div display to on display
		document.querySelector('#sub-add-ons-section').style.display = "block";
		//uncheck sub extras
		document.querySelectorAll('.sub-extra').forEach(ex => {
			ex.checked = false;
		});
		//remove any steak and cheese sub addons
		document.querySelectorAll('.steak-cheese-extra').forEach(ex => {
			ex.style.display = "block";
		});
		document.querySelector('#final-price').value = "0.00";
	}
	// When the user clicks on <span> (x), close the modal
	spanX.onclick = function() {
			resetOrderForm();
	    modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
					resetOrderForm();
					modal.style.display = "none";
	    }
	}
	// document.querySelectorAll('.price').forEach(element => {
	// 		const plus = document.createElement('a');
	// 		plus.id=`{{item.get_item_type_display}}{{item.id}}`;
	// 		plus.classList.add("addItem");
	// 		plus.innerHTML= '+' ;
	// 		plus.href="";
	// 		element.appendChild(plus);
	// });

	document.addEventListener('DOMContentLoaded', () => {
		//add topping list to drop down menus
		let toppingList = []
		{% for item in topping_list %}
		toppingList.push('{{item}}');
		{% endfor %}

		//final price to be calculated in the order item form
		let final_price = 0;
		//on '+' button click
		document.querySelectorAll('.addItem').forEach(add => {
				add.onclick = () => {
						modal.style.display = "block";

						// Initialize new request
						const request = new XMLHttpRequest();

						//Get the id of the item clicked
						const addID = add.id;

						//split the id into two parts: item type and item ID
						let item_type = '';
						let item_id_char = '';
						let idChar = '';
						let splitIndex = 0;
						let item_id = 0;
						let numFound = false;
						var i=0;

						while(numFound==false){
							//for each character in addID
					    idChar = addID.charAt(i);

							//at the first integer, store the string index to split into
							//item type and item ID later
					    if(Number.isInteger(parseInt(idChar))){
					      splitIndex = i;
					      numFound=true;
					    }
					    i=i+1;
						}

						//split the element ID into two different strings to be sent to server.
						item_type = addID.slice(0,splitIndex);
						item_id_char = addID.slice(splitIndex);
						//parse to item_id as integer
						item_id = parseInt(item_id_char);

						//create a request to server with menu item route
						request.open('POST', '/menuitem/');

						// Callback function for when request completes
						request.onload = () => {

								// Extract menu item JSON data from request
								const menuItem = JSON.parse(request.responseText);

								// Load the form data accordingly
								// display menu item type in the title
								document.querySelector('#menu-item-title').innerHTML=`${menuItem.item_type} - ${menuItem.item_name}`
								document.querySelector('#menu-item-id').value=`${item_id}`
								console.log(document.querySelector('#menu-item-id').value)
								//see if you can access the item's choice display values, instead of just the values.

								//if item is not a salad or pasta display size menu options
								if(menuItem.item_type == 'Salad' || menuItem.item_type == 'Pasta'){
									document.querySelector('#item-size-section').style.display = "none";
								}
								else{
									document.querySelector('#item-size-display').innerHTML = `${menuItem.size}`;
								}
								if(menuItem.item_type =='Pizza'){
									document.querySelector('#topping-sel-display').innerHTML = `${menuItem.topping_sel_display}`;
									const numToppings = parseInt(`${menuItem.topping_sel}`);

									//based on the number of toppings of the JSON object returned
									//insert the correct number of dropdowns
									//or list the topping for special
									// <select class="topping-selection-dropdown">
									// 	<option value="Pepperoni">Pepperoni</option>
									// </select>
									if(numToppings<4){
										if (numToppings>0){


											for (i=0; i<numToppings; i++){
												const toppingListDrop = document.createElement('select');
												const space = document.createElement('p');
												toppingListDrop.classList.add("topping-selection-dropdown");
												toppingListDrop.name=`topping${i+1}`;
												for (j=0; j<toppingList.length; j++){
													var toppingListOption = document.createElement('option');
													toppingListOption.value=toppingList[j];
													toppingListOption.innerHTML=toppingList[j];
													toppingListDrop.appendChild(toppingListOption);
												}
												space.appendChild(toppingListDrop)
												document.querySelector('#topping-dropdowns').append(space);
											}
										}
										else{
											//cheese pizza
											document.querySelector('#topping-dropdown-section').style.display = "none";
										}
									}
									else{
										//special pizza
										const specialPizzaToppings = ['Sausage','Green Peppers','Onions','Mushrooms'];
										const toppingList = document.createElement('ul');
										for (i=0; i<specialPizzaToppings.length; i++){
											const topping = document.createElement('li');
											topping.innerHTML = specialPizzaToppings[i];
											toppingList.appendChild(topping);
										}
										document.querySelector('#topping-dropdowns').append(toppingList);
									}


								}
								else{
									document.querySelector('#topping-sel-section').style.display = "none";
									document.querySelector('#topping-dropdown-section').style.display = "none";

								}
								if(menuItem.item_type != 'Sub'){
									document.querySelector('#sub-add-ons-section').style.display = "none";
								}
								else{

									if (menuItem.item_name !='Steak + Cheese'){
										document.querySelectorAll('.steak-cheese-extra').forEach(ex => {
											ex.style.display = "none";
										});
									}
								}

								final_price = parseFloat(menuItem.price);
								document.querySelector('#final-price').value = `${final_price.toFixed(2)}`;
						}

						// Add data to send with request (tell Flask what currency was typed in the form) (this could also have been done with HTML, naming the form input with name="currency")
						const data = new FormData();
						data.append('item_type', item_type);
						data.append('item_id', item_id);
						// Send request
						request.setRequestHeader("X-CSRFToken", csrftoken);
						request.send(data);
						//stop page from reloading after request is sent
						return false;
				};
		});
		document.querySelectorAll('.sub-extra').forEach(check => {
			check.onclick = () => {
				if (check.checked == true) {
					final_price = (final_price+0.50);
				}
				else {
					final_price = (final_price-0.50);
				}
				document.querySelector('#final-price').value = `${final_price.toFixed(2)}`;
			};
		});
		// document.querySelector('#add-cart-button').onclick{
		// 	//submit form
		// };
	});
</script>
{% endblock %}
