{% extends "orders/base.html" %}

{% block body %}
<div class="container col-10">
<form>
	<div>{{ item_name }}</div>

	{% if item_type=='PZA' or item_type=='SUB' or item_type=='PLT' %}
	<div>
		<input type="radio" name="size" value="small" {% if size == 'S' %}checked{% endif %}>Small<br>
		<input type="radio" name="size" value="large" {% if size == 'L' %}checked{% endif %}>Large<br>
	</div>
	{% endif %}

	{% if item_type=='PZA' %}
	<div>Toppings</div>

	<div>
		<input type="radio" name="topping" value="cheese" {% if topping_sel == '0' %} checked {% endif %}>Cheese<br>
		<input type="radio" name="topping" value="one-topping" {% if topping_sel == '1' %}checked {% endif %}>1 topping <br>
		<input type="radio" name="topping" value="two-topping" {% if topping_sel == '2' %}checked {% endif %}>2 topping <br>
		<input type="radio" name="topping" value="three-topping" {% if topping_sel == '3'%} checked {% endif %}>3 topping <br>
		<input type="radio" name="topping" value="special" {% if topping_sel == '4' %} checked {% endif %}>Special <br>
	</div>

	{# depending on the number of toppings use event listener to dynamically update number of drop down menus #}

	<select>
	{% for topping in topping_list %}
		<option value="{{ topping }}">{{ topping }}</option>
	{% endfor %}
	</select>
	{% endif %}

	{% if item_type=='SUB' %}
	{% if item_name=='Steak and Cheese' %}
	<input type="checkbox" name="mushroom” value="mushroom">Mushrooms (+ $0.50)
	<br>
	<input type="checkbox" name="green-peppers” value="green-peppers">Green Peppers (+ $0.50)<br>
	<input type="checkbox" name="onions” value="onions">Onions (+ $0.50)<br>
	{% endif %}
	<input type="checkbox" name="cheese" value="cheese">Extra Cheese (+ $0.50)<br>
	{% endif %}
	<input type=“submit” value=“Confirm”>
</form>

</div>
{% endblock %}
